.navbar {
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.navContainer {
  width: 100%;
  max-width: 1140px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLogo {
  font-weight: bold;
  font-size: 24px;
}

.navItems {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navInfo-btn {
  font-weight: 600;
  margin-left: 10px;
  border-color: white;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
  background-color: #003580;
}

.navinfo-btn:hover {
  background-color: #275191;
}

.navItems-btn {
  font-weight: 600;
  margin-left: 10px;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  color: #0071c2;
  background-color: white;
}